---
import { getCollection, render } from "astro:content";
import BaseHead from "src/components/layouts/BaseHead.astro";
import Footer from "src/components/layouts/Footer.astro";
import Header from "src/components/layouts/Header.astro";
import BlogSEO from "src/components/SEO/blogSEO.astro";
export async function getStaticPaths() {
  const posts = await getCollection("writings");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={post.data.title} description={post.data.description} />
    <BlogSEO
      title={post.data.title}
      modDate={post.data.modDate}
      date={post.data.date}
      isProject={false}
    />
  </head>
  <body>
    <Header />
    <Content />
    <Footer />
  </body>
</html>
